.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    align-items: center;
    justify-self: center;
    padding: 10px;
}

.results > card {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    width: 20ch;
    height: 20ch;
    padding: 10px;
    flex: auto;
}

.button {
    max-height: 5ch;
}